[submodule "subprojects/raygui"]
	path = subprojects/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "subprojects/asprintf"]
	path = subprojects/asprintf
	url = https://github.com/Neved4/asprintf.git
[submodule "subprojects/tomlc17"]
	path = subprojects/tomlc17
	url = https://github.com/cktan/tomlc17.git
[submodule "subprojects/cargs"]
	path = subprojects/cargs
	url = https://github.com/likle/cargs.git
